main {
  text-align: center;
  padding: 1em;
  max-width: 240px;
  margin: 0 auto;
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}

$shade-light: #fafafa;
$link: #00b3e6;

.not-found {
  .title {
    letter-spacing: 0px;
    font-weight: normal;
    font-size: 24px;
    text-transform: none;
  }
}

ul {
  list-style: none;
  padding: 0;
}
ul.list {
  box-shadow: none;
}
div.card-content {
  background-color: $shade-light;
  .userName {
    font-size: 28px;
    color: #000;
  }
}
.card {
  margin-bottom: 2em;
}

button.link {
  background: none;
  border: none;
  cursor: pointer;
}

button.exit {
  margin-top: 20px;
  width: 80px;
  border-radius: 10px;
}

.card-footer button {
  font-size: 16px;
  i {
    margin-right: 10px;
  }
  color: #888;
  &:hover {
    color: $link;
  }
}
